@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,400&family=Lato:ital,wght@0,300;0,400;1,300&family=Pinyon+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Cormorant Garamond", serif;
  --font-display: "Playfair Display", serif;
  --font-sans: "Lato", sans-serif;
  --font-script: "Pinyon Script", cursive;
}
